body{
    background: #272727;
    /* background-color: bisque; */
    color: white;
    font-family: 'Nixie One', cursive;

    /* background-color: burlywood; */
    /* background-color: darksalmon; */
}

#gamehubHomeDiv{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0%;
    
  }

  h1{
      display: block;
      margin-bottom: 4%;
      font-size: 200%;
      font-family: 'Nixie One', cursive;
  }

  #usernameForm{
      
  }

  input{
      background: white;
      border-radius: 20%;
  }

  button{
      margin: 2%;
  }