body{
    background: #272727;
    /* background-color: bisque; */
    color: white;
    font-family: 'Nixie One', cursive;

    /* background-color: burlywood; */
    /* background-color: darksalmon; */
}

#gamehubHomeDiv{
    display: block;
    margin-top: 0%;

    
    
  }

#title{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0%;
}

  /* h1{
      display: block;
      margin-bottom: 4%;
      font-size: 200%;
      font-family: 'Nixie One', cursive;
  } */

  #usernameForm{
      
  }

  input{
      /* color: whitesmoke; */
  }

  button{
      margin: 2%;
  }

  canvas{
      margin: 0%;
  }